<include file='Common:header'/>
    	<title>{$Think.config.WEBNAME}-微博找人</title>
	<link rel="stylesheet" href="__PUBLIC__/Theme/{$style}/Css/nav.css" />
	<link rel="stylesheet" href="__PUBLIC__/Theme/{$style}/Css/sech_weibo.css" />
	<link rel="stylesheet" href="__PUBLIC__/Theme/{$style}/Css/bottom.css" />
	<script type="text/javascript" src='__PUBLIC__/Js/jquery-1.7.2.min.js'></script>
    <script type="text/javascript" src='__PUBLIC__/Js/nav.js'></script>
    <script type="text/javascript">
    	var commentUrl = "{:U('Index/Comment')}";
    	var getComment = "{:U('Index/getComment')}";
    	var keepUrl = "{:U('Index/keep')}";
    </script>    
    <script type="text/javascript" src='__PUBLIC__/Js/sech-weibo.js'></script>
<!--==========顶部固定导行条==========-->
<script type='text/javascript'>
    var delFollow = "/weibo/index.php/Search/delFollow";
    var editStyle = "/weibo/index.php/Search/editStyle";
      	var getMsgUrl = '{:U('User/getMsg')}';
</script>
<!--==========顶部固定导行条==========-->
<include file='Common:nav'/>
<!--==========加关注弹出框==========-->

<!--==========加关注弹出框==========-->

<!--==========自定义模版==========-->
    <div id='model' class='hidden'>
        <div class="model_head">
            <span class="model_text">个性化设置</span>
            <span class="close fright"></span>
        </div>
        <ul>
            <li style='background:url(/weibo/Public/Images/default.jpg) no-repeat;' theme='default'></li>
            <li style='background:url(/weibo/Public/Images/style2.jpg) no-repeat;' theme='style2'></li>
            <li style='background:url(/weibo/Public/Images/style3.jpg) no-repeat;' theme='style3'></li>
            <li style='background:url(/weibo/Public/Images/style4.jpg) no-repeat;' theme='style4'></li>
        </ul>
        <div class='model_operat'>
            <span class='model_save'>保存</span>
            <span class='model_cancel'>取消</span>
        </div>
    </div>
<!--==========自定义模版==========-->
<!--==========内容主体==========-->
	<div style='height:60px;opcity:10'></div>
    <div class="main">
    <!--=====左侧=====-->
        <!--=====左侧=====-->
  <include file='Common:left' />

        <div id='right'>
    		<p id='sech-logo'></p>
    		<div id='sech'>
    			<div>
	    			<form action="{:U('searchUser')}" method='get' name='search'>
	    				<input type="text" name='keyword' id='sech-cons' value='<if condition="$keyword">{$keyword}<else/>搜索微博、找人</if>'/>
	    				<input type="submit" value='搜&nbsp;索' id='sech-sub'/>
	    			</form>
    			</div>
    			<ul>
                    <li><span class='cur sech-type' url="{:U('Search/searchUser')}">找人</span></li>
    				<li><span class='sech-type' url="{:U('Search/searchWeibo')}">微博</span></li>
    			</ul>
    		</div>
    		<div id='content'>
    			<div class='view_line'>
	                <strong>微博</strong> 总共搜索到{$count?$count:0}条结果
	            </div>
<if condition="!$indexInfo">
 	没有找到与<strong style="color:red;">{$keyword}</strong>相关的微博
 <else/>
<foreach name="indexInfo" item="v" key="k">
	<if condition="$v['isturn']">
<!--====================转发样式====================-->
            <div class="weibo">
            <!--头像-->
                <div class="face">
                    <a href="{:U('User/'.$v['uid'])}">
                    <img src="
                     <if condition="$v['face']">
                        __ROOT__/{$v['face']} 
                      <else/>
                       __PUBLIC__/Images/noface.gif
                      </if>
                      " width='50' height='50'/>
                    </a>
                </div>
                <div class="wb_cons">
                    <dl>
 <!--用户名-->
                        <dt class='author'>
                            <a href="__ROOT__/User/{$v.id}">{$v.username}</a>
                        </dt>
                    <!--发布内容-->
                        <dd class='content'>
                            <p>{$v.content|replace_weibo=###|str_replace=$keyword,'<span style="color:red;">'.$keyword.'</span>',###}</p>
                        </dd> 

                    <!--转发的微博内容-->
				                <if condition="$v['isturn'] eq -1">			<!--原微博是否被删除-->	               		
				                	<dd class="wb_turn">原微博已经被删除了</dd>              
				               <else/>                       
                                            <dd>
                            <div class="wb_turn">
                                <dl>                            
                                <!--原作者-->
                                    <dt class='turn_name'>     
                                        <a href="{:U('User/'.$v['isturn']['uid'])}">@{$v['isturn']['username']}</a>
                                    </dt>
                                <!--原微博内容-->
                                    <dd class='turn_cons'>
                                        <p>{$v['isturn']['content']|replace_weibo=###}</p>
                                    </dd>
                                <!--原微博图片-->
  					 	<if condition="$v['isturn']['max']">
  					 		<dd>
                            <div class='turn_img'>
                            <!--小图-->
                                <img src="__ROOT__/{$v['isturn']['mini']}" class='turn_mini_img'/>
                                <div class="turn_img_tool hidden">
                                    <ul>
                                        <li>
                                            <i class='icon icon-packup'></i>
                                            <span class='packup'>&nbsp;收起</span>
                                        </li>
                                        <li>|</li>
                                        <li>
                                            <i class='icon icon-bigpic'></i>
                                            <a href="__ROOT__/{$v['isturn']['max']}" target='_blank'>&nbsp;查看大图</a>
                                        </li>
                                    </ul>
                                <!--中图-->
                                    <div class="turn_img_info"><img src="__ROOT__/{$v['isturn']['medium']}"/></div>
                                </div>
                            </div>
                        </dd>                    
                        </if>  
                                                                </dl>
                                <!--转发微博操作-->
                                <div class="turn_tool">
                                    <span class='send_time'>
                                    {$v['isturn']['time']|format_time=###}                                   </span>
                                    <ul>
                                        <li><a href="">转发<if condition="$v['isturn']['turn']">({$v['isturn']['turn']})</if></a></li>
                                        <li>|</li>
                                        <li><a href="">评论<if condition="$v['isturn']['comment']">({$v['isturn']['comment']})</if></a></li>
                                    </ul>
                                </div>
                            </div>
                        </dd>                    
                 </if><!--原微博是否被删除-->                        
                        </dl>

                    <!--操作-->
                    <div class="wb_tool">
                    <!--发布时间-->
                        <span class="send_time">{$v.time|format_time=###}</span>
                        <ul>
		                <if condition="isset($_SESSION['uid']) && $_SESSION['uid'] eq $v['uid']">
		                	<li class='del-li hidden'><span class='del-weibo' wid='{$v["id"]}'>删除</span></li>
                        </if>
                            <li class='del-li hidden'>|</li>                            
                            <li><span class='turn' id='{$v['id']}' tid='{$v['isturn']['id']}'>转发<if condition="$v['turn']">({$v['turn']})</if></span></li>
                            <li>|</li>
                            <li class='keep-wrap'>
                                <span class='keep' wid='{$v['id']}'>收藏<if condition="$v['keep']">({$v['keep']})</if></span>
                                <div class='keep-up hidden'></div>
                            </li>
                            <li>|</li>
                            <li><span class='comment' wid='{$v['id']}'>评论<if condition="$v['comment']">({$v['comment']})</if></span></li>
                        </ul>
                    </div>
                    <!--回复框-->
                    <div class='comment_load hidden'>
                        <img src="/weibo/Public/Images/__PUBLIC__/Images/__PUBLIC__/Images/loading.gif">评论加载中，请稍候...
                    </div>
                    <div class='comment_list hidden'>
                        <textarea name="" sign='comment{$k}'></textarea>
                        <ul>
                            <li class='phiz fleft' sign='comment{$k}'></li>
                            <li class='comment_turn fleft'>
                                <label>
                                    <input type="checkbox" name=''/>同时转发到我的微博
                                </label>
                            </li>
                            <li class='comment_btn fright' wid='{$v.id}'>评论</li>
                        </ul>

                    </div>
                    <!--回复框结束-->
                </div>
<!--====================转发样式结束====================-->
            <else/>
    <!--====================普通微博样式====================-->
            <div class="weibo">
                <!--头像-->
                <div class="face">
                    <a href="{:U('User/'.$v['uid'])}">
                    <img src="
                     <if condition="$v['face']">
                        __ROOT__/{$v['face']} 
                      <else/>
                       __PUBLIC__/Images/noface.gif
                      </if>
                      " width='50' height='50'/>
                    </a>
                </div>
                <div class="wb_cons">
                    <dl>
                    <!--用户名-->
                        <dt class='author'>
                            <a href="{:U('User/'.$v['uid'])}">{$v.username}</a>
                        </dt>
                    <!--发布内容-->
                        <dd class='content'>
                            <p>{$v['content']|replace_weibo=###|str_replace=$keyword,'<span style="color:red;">'.$keyword.'</span>',###}</p>
                        </dd>
                    <!--微博图片-->
  					 <dd>
  					 	<if condition="$v['max']">
                            <div class='wb_img'>
                            <!--小图-->
                                <img src="__ROOT__/{$v['mini']}" class='mini_img'/>
                                <div class="img_tool hidden">
                                    <ul>
                                        <li>
                                            <i class='icon icon-packup'></i>
                                            <span class='packup'>&nbsp;收起</span>
                                        </li>
                                        <li>|</li>
                                        <li>
                                            <i class='icon icon-bigpic'></i>
                                            <a href="__ROOT__/{$v['max']}" target='_blank'>&nbsp;查看大图</a>
                                        </li>
                                    </ul>
                                <!--中图-->
                                    <div class="img_info"><img src="__ROOT__/{$v['medium']}"/></div>
                                </div>
                            </div>
                        </dd>                    
                        </if>                 
                   </dl>                                    
                <!--操作-->
                    <div class="wb_tool">
                    <!--发布时间-->
                        <span class="send_time">{$v.time|format_time=###}</span>
                        <ul>
		                <if condition="isset($_SESSION['uid']) && $_SESSION['uid'] eq $v['uid']">
		                	<li class='del-li hidden'><span class='del-weibo' wid='{$v["id"]}'>删除</span></li>
                        </if>
                            <li class='del-li hidden'>|</li>                            
                            <li><span class='turn' id='{$v['id']}'>转发<if condition="$v['turn']">({$v['turn']})</if></span></li>
                            <li>|</li>
                            <li class='keep-wrap'>
                                <span class='keep' wid='{$v['id']}'>收藏<if condition="$v['keep']">({$v['keep']})</if></span>
                                <div class='keep-up hidden'></div>
                            </li>
                            <li>|</li>
                            <li><span class='comment' wid='{$v['id']}'>评论<if condition="$v['comment']">({$v['comment']})</if></span></li>
                        </ul>
                    </div>
                <!--=====回复框=====-->
                    <div class='comment_load hidden'>
                        <img src="/weibo/Public/Images/__PUBLIC__/Images/loading.gif">评论加载中，请稍候...
                    </div>
                    <div class='comment_list hidden'>
                        <textarea name="" sign='comment{$k}'></textarea>
                        <ul>
                            <li class='phiz fleft' sign='comment{$k}'></li>
                            <li class='comment_turn fleft'>
                                <label>
                                    <input type="checkbox" name=''/>同时转发到我的微博
                                </label>
                            </li>
                            <li class='comment_btn fright' wid='{$v.id}' uid='{$v.uid}'>评论</li>
                        </ul>
                    </div>
                <!--=====回复框结束=====-->
                </div>
                </if>
            </div>
            
</foreach>
                <div id='page'> {$show}         </div>
   </if><!--判断有无微博结束位置-->
        </div>
<!--==========内容主体结束==========-->
<!--==========底部==========-->
<include file='Common:bottom'/>